@{
    ViewData["Title"] = "Home Page";
}
@section Styles{
    <style>
        p {
            color: blue
        }
    </style>
}


<div class="text-center">
    <h1 class="display-4">Welcome To MSIT</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@section Scripts{
    <script>
        //const emps = [{ "name": "Tom", "workYears": 3, "salary": 35000 },
        //{ "name": "Jack", "workYears": 5, "salary": 40000 },
        //{ "name": "Mary", "workYears": 7, "salary": 45000 }];

        ////emps = [];
        //console.log(emps[1]);
        ////emps[1]={}
        //console.log(emps[1].name);
     
        //for(let i=0,max=emps.length;i<max;i++){
        //    console.log(emps[i].name);
        //    console.log(emps[i].workYears);
        //    console.log(emps[i].salary);
        //}


        var emp = {
            "employees": [
                { "name": "Tom", "workYears": 3, "salary": 35000 },
                { "name": "Jack", "workYears": 5, "salary": 40000 },
                { "name": "Mary", "workYears": 7, "salary": 45000 }
            ]
        };

    </script>
}

