@{
    ViewData["Title"] = "Home Page";
}
@section Styles{
    <style>
        p {
            color: blue
        }
    </style>
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@section Scripts{
    <script>
        $('.display-4').css('background-color', 'yellow');
    </script>
}

